<mat-toolbar color="primary">
  <span class="logo" (click)="toHome()">Netlix</span>
  <div>
    <button *ngIf="role === 'admin'" (click)="UploadVideo()" mat-button>Upload</button>
    <button *ngIf="role === 'user'" (click)="Subscribe()" mat-button>Subscribe</button>
    <button *ngIf="role === null" (click)="Login()" mat-button>Login</button>
    <button *ngIf="role === null" (click)="Signup()" mat-button>Sign up</button>
    <button *ngIf="role !== null" (click)="SignOut()" mat-button>Signout</button>
  </div>
</mat-toolbar>
