
<div class="movie-card">
  <div class="movie-video">
    <div class="movie-video">
      <video #videoPlayer controls>
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="movie-details">
    <h2 class="movie-title">{{movie?.title}}</h2>
    <p class="movie-description">{{movie?.description}}</p>
    <div class="movie-metadata">
      <p><strong>Director:</strong>{{movie?.director}}</p>
      <p><strong>Actor:</strong>{{movie?.actors}}</p>
      <p><strong>Genre:</strong>{{movie?.genres}}</p>
    </div>
    <div class="movie-actions">
      <button class="movie-button" (click)="edit()">Edit</button>
      <button class="movie-button" (click)="delete()">Delete</button>
      <button class="movie-button" (click)="download()">Download</button>
      <button class="movie-button" (click)="review()">Review</button>
    </div>
  </div>
</div>
