<!-- register.component.html -->
<app-navbar></app-navbar>
<div>
  <h2>Register</h2>
  <form (ngSubmit)="onRegister()">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="registerUsername" name="username" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="registerPassword" name="password" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="registerEmail" name="email" required>
    </div>
    <div>
      <label for="givenName">First Name</label>
      <input type="text" id="givenName" [(ngModel)]="registerGivenName" name="givenName" required>
    </div>
    <div>
      <label for="familyName">Last Name</label>
      <input type="text" id="familyName" [(ngModel)]="registerFamilyName" name="familyName" required>
    </div>
    <label for="birthdate" id="birthdate-label">Date of Birth</label>
    <div id="birthdate-container">
      <input type="date" id="birthdate" [(ngModel)]="registerBirthdate" name="birthdate" required class="form-control" id="birthdate-input">
    </div>
    <button type="submit">Register</button>
  </form>
</div>
