body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px 40px; /* Povećao padding za bolji izgled */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px; /* Maksimalna širina za formu */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 5px;
  color: #333;
  margin-left: 25%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box; /* Osigurava da padding ne proširi input van width */
  margin-left: 25%;
}

button {
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 50%; /* Puna širina za dugme */
  box-sizing: border-box;
  margin-left: 25%;
}

button:hover {
  background-color: #0056b3;
}

#birthdate-container {
  margin-bottom: 20px; /* Razmak između polja i ostalih elemenata */
  width: 50%;
  margin-left:25%;
}

#birthdate-label {
  display: block; /* Da labela zauzme cijeli red */
  margin-bottom: 5px; /* Razmak između labela i input polja */
  font-weight: bold; /* Debljina fonta */
}

#birthdate-input {
  padding: 8px; /* Unutrašnji padding input polja */
  font-size: 16px; /* Veličina fonta */
  border: 1px solid #ccc; /* Okvir input polja */
  border-radius: 4px; /* Zaobljeni rubovi */
  width: 100%; /* Širina input polja */
  box-sizing: border-box; /* Uključuje padding i border u širinu */
}
